{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <section class="about-us">
        <h2>QUI SOMMES-NOUS</h2>
        <h3>NOTRE ENTREPRISE</h3>
        <p>Véritable relais de confiance des professionnels depuis plus de 10 ans, PLANET’ESTHETIC en tant que grossiste sélectionne pour vous une large gamme de produits et matériels dédiée aux instituts de beauté, centres spas et centres thalasso, à des prix attractifs.</p>
        <p>Sur notre espace de vente au BIGNON en Loire-Atlantique ou sur notre site www.planet-esthetic.fr, nous vous proposons plus de 2000 références des plus grandes marques professionnelles : Carlina, Physiolab, Arsène Valère, Docteur Temt, Jedo, Ligne K etc..</p>
        <h3>NOTRE ÉQUIPE</h3>
        <h4>Un service humain et personnalisé.</h4>
        <p>Notre équipe commerciale et technique est à votre disposition pour vous conseiller et répondre à vos demandes soit par téléphone soit dans notre show room où sont exposés la plupart de nos produits présents sur le site.</p>
        <h4>Horaires d’ouverture du standard téléphonique</h4>
        <p>du lundi au jeudi de 9h à 12h, de 14h à 18h<br> le vendredi de 9h à 12h, de 14h à 16h</p>
        <hr><h2 id="showroom">SHOW-ROOM</h2>
        <h3>Des conseils en esthétiques personnalisés</h3>
        <p>Nous organisons sur notre show-room des présentations de nouveaux produits et matériels afin de vous apporter des conseils fiables et personnalisés.</p>
        <h4>Horaires d’ouverture du show-room</h4>
        <p>du lundi au jeudi de 9h à 12h, de 14h à 18h<br> le vendredi de 9h à 12h, de 14h à 16h</p>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center"><img src="{{ asset('bootstrap-theme/images/about_us_1.jpg', 'bootstrapTheme') }}" alt="" width="300" height="154"></div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center"><img src="{{ asset('bootstrap-theme/images/about_us_2.jpg', 'bootstrapTheme') }}" alt="" width="300" height="154"></div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center"><img src="{{ asset('bootstrap-theme/images/about_us_3.jpg', 'bootstrapTheme') }}" alt="" width="300" height="147"></div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center"><img src="{{ asset('bootstrap-theme/images/about_us_4.jpg', 'bootstrapTheme') }}" alt="" width="300" height="154"></div>
        </div>
    </section>
{% endblock %}
