{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<section class="services">
    <h2>NOS SERVICES</h2>
    <h3>Comment passer une commande</h3>
    <p>Pour passer une commande, il vous suffit ce créer votre compte professionnel*, de remplir votre panier et de le valider.<br>La commande sera ferme et définitive, sous réserve des disponibilités, lorsque PLANET’ESTHETIC vous la confirmera par mail.<br><small><em>*Les produits et matériels disponibles sur le site PLANET’ESTHETIC sont réservés aux professionnels de la beauté.</em></small></p>
    <h3>Accès espace client</h3>
    <p>En vous connectant sur votre epace client, vous pouvez consulter à tout moment le détail et l’historique de chaque commande.</p>
    <h3>Prix</h3>
    <p>Les prix sont ceux qui sont déterminés sur le bon de commande édité par PLANET’ESTHETIC et sont exprimés en euros hors taxes.</p>
    <h3>Paiement à la livraison</h3>
    <p>Le site PLANET’ESTHETIC ne permet pas le paiement en ligne, une facture vous sera établie à chaque livraison.</p>
    <h3>Livraison et délai</h3>
    <p>La livraison s’effectue à l’adresse précisée sur votre bon de commande.<br>Les frais de livraison sont à votre charge, cependant, pour toute commande d’un montant supérieur à 250 €HT, le franco de port sera consenti pour les livraisons effectuées sur la France métropolitaine, livrable en une seule expédition,<br>Le délai de livraison peut varier en fonction du volume de la commande et sera précisé par PLANET’ESTHETIC, au moment de la commande.</p>
    <p> </p>
    <h3>Service après-vente</h3>
    <p>Pour vous assurer un achat en toute sérénité, Olivier vous accompagne et vous conseil pour tous les besoins d’entretien ou de réparation des matériels achetés exclusivement chez Planet esthetic.<br>Envoyez vos demandes d’intervention à l’adresse suivante : <a href="mailto:sav-planetesthetic@orange.fr">sav-planetesthetic@orange.fr</a>.</p>

</section>
{% endblock %}
