<div class="ui center aligned inverted basic segment">
    <p>&copy; {{ 'sylius.ui.your_store'|trans }}, {{ 'sylius.ui.powered_by'|trans }} <a href="https://sylius.com" target="_blank" style="color: #1abb9c;">Sylius</a>.</p>
    <a target="_blank" href="https://www.facebook.com/100063840110560/timeline/"><i class="big facebook icon"></i></a>
</div>
