<div class="col">
    <a href="{{ path('sylius_shop_homepage') }}">
        <img class="logo" src="{{ asset('bootstrap-theme/images/planet-esthetic-logo.png', 'bootstrapTheme') }}" alt="Sylius logo" />
    </a>
</div>
